
* {

margin: 0;
padding: 0;

}

html {

    font-family: 'Inter', 'Mulish', sans-serif;

}

header {

    padding: 40px 100px;
}


.header_wrap {


display: flex;
justify-content: space-between;


}


.logo_round {

    display: flex;
    height: 41px;
    flex-direction: column;
    position: relative;

    
    }

.logo_green {

display: flex;
width: 41px;
height: 41px;
background: #1ABE84;
border-radius: 50%;
justify-content: center;


} 

.logo_green:before {
        content:'';
        display: block;
        border-radius: 50%;
        background: white;
        align-self: center;
        width: 18px;
        height: 18px;


}

.logo_orange {

    position: absolute; 
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #FB8F1D;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);

    }


 

.btn {

display: flex;
justify-content: flex-end;
align-items: center;

}




.register {

background: #FB8F1D;
border-radius: 8px;
border: none;
width: 100px;
height: 34px;
color: #FFFFFF;
font-weight: 500;
font-size: 15px;


}


.log_in {

    width: 100px;
    height: 32px;
    border-radius: 8px;
    background: #FFFFFF;
    border:1px solid #FB8F1D;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s all;

}





.log_in:focus {

    background-color: #176e5a;
}



 .ul_flex {


    width: 860px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center; 
    
    
    }

.a_item {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #202336;
    text-decoration: none;
    position: relative;
    transform: scaleX(0);



}

.a_item:hover {
    color:#FB8F1D; 
   } 


.a_item::before {
 content: '';
 width: 100%;
 height: 1px;
 background-color:#FB8F1D; 
 position: absolute;
 left: 0;
 bottom: -5px;

} 

.ul_item {

    margin-right: 34px;
}


.ul_item_gray {

color: #B8BECD;

}

.container {

    display: flex;
    padding: 80px 105px  143px  100px;
}


.header {

margin-bottom: 74px;
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 80px;
}

.subheader {

    margin-bottom: 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;

}

.devider_black {

width: 32px;
height: 2px;
background: #202336;
border-radius: 4px;
margin-bottom: 48px;

}

.lists {

    display: flex;
    flex-wrap: wrap;
    width: 470px;
    height: 137px; 
    

}


.list {

    width: 220px;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    color: #AFB0B9; 


}

.list:focus-visible {

    background-color: #1ABE84;
}

.list_mg{


    margin-bottom: 35px;
    margin-left: 30px;

}






.btn_explore {


Height: 52px; 
padding: 0 38px;
margin-top: 47px;
background: #FB8F1D;
border-radius: 8px;
font-weight: 700;
font-size: 17px;
color: #FFFFFF;


}

.btn_explore:focus-visible {

    background-color: #000;
}



.container_destinations {
padding: 0 100px 0 100px ;



}

.subheader_flex {

    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.link {

    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
    text-decoration: none;
    
    
}

.link:after {

    content: '\276F';
    margin-left: 5px;
    border-radius: 3px;
    
}

.subheader_two {


font-weight: 700;
font-size: 36px;
line-height: 50px;
color: #000000;

}


.photos {

display: flex;
padding: 0 100px;

}


.picture {
margin-right: 40px;
position: relative;

}

.picture > img {
    border-radius: 10px;
}


.text {
position: absolute;
width: 120px;
height: 56px;
background: #FFFFFF;
border-radius: 0px 6px 0px 0px;
bottom: 0;
font-weight: 600;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: flex-end;

}



.text_grey {
    color: #80918E;
    font-weight: 400;
    font-size: 15px;
}

.container_explore {

    display: flex;
    margin-top: 250px;

}

.flex_right_two {

padding: 150px 130px;

}


.subheader_explore {

margin-bottom: 20px;
color: #000;
font-size: 36px;
font-family: Playfair Display;
font-weight: 700;
line-height: 50px;

}

.text_explore {

    color: #7D7987;
    font-size: 17px;
    font-family: Mulish;
    font-weight: 300;
    line-height: 30px;

}


.footer_wrap{

display: flex;
justify-content: space-between;

}

.footer {
margin-top: 100px;
padding: 70px 100px 0;
background: #F9F9FB;

}

.logo {

    width: 41px;
    height: 41px;
}



.footer_text {

margin-top: 26px;
font-weight: 300;
font-size: 18px;
line-height: 28px;
color: #848484;


}

.footer_rights {

margin-top: 56px;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 28px;
color: #848484;

}

.menu_name {

text-decoration: none;
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 60px;
color: #000000;


}


.item_link {

text-decoration: none;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 38px;
color: #848484;

}

.ul_footer {   
list-style-type: none;
}


.devider_footer {
margin-top: 81px;
width: 100%;
height: 0.6px;
background: #C4C4C4;

}

.item_link:hover {
    color:#FB8F1D;   
}




.item_logo {
    width: 41px;
    height: 41px;
}

.footer_social {

display: flex;
justify-content: center;
padding: 32px 0;

}

.fa-brands {

margin-left: 35px;

}

i {
    font-size: 24px;
}